# Environment variables
.env
agrichat-backend/Agentic_RAG/.env

agri_text_classification.ipynb
bad_text_classifier.ipynb
bad_words.txt 
State_wise_data_cleaning_last_step.ipynb
Final-agritext-classifier.ipynb


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments

env/
ENV/

# IDE files
.vscode/
.idea/

# ChromaDB data
chromaDb/

# macOS
.DS_Store

# Logs
*.log
.vercel
