fastapi
uvicorn
pymongo
python-dotenv
requests
langchain
langchain-community
chromadb
beautifulsoup4
markdown
numpy
python-multipart
gunicorn
langchain_google_genai
google.generativeai
certifi
pytz
python-dateutil
crewai
firecrawl-py